.form{
    margin: 10px auto 30px;
}

.form input{
    display: block;
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: ease;
    border: 1px solid transparent;
    margin-bottom: 15px;
}

.form input:focus {
    border-color: aqua;

}

