
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0px;
    margin: 0px;
}


body {
    background-color: #111;
    color: #fff;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin-bottom: 20px;
}

.btn{
    display: flex;
    color: 111;
    background-color: #fff;
    border-radius: 5px;
    padding: 6px 30px;
    border: none;
    outline: none;  
    cursor: pointer;
    margin-top: 10px;
    max-width: 100px;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: rgb(210, 234, 234);
}

